---
import InputComponent from "@/components/InputComponent.astro"
---
<button class="bg-primary text-white font-bold py-2 px-3 rounded-md cursor-pointer hover:bg-primary/80 transition-all active:scale-95" id="openButton">
    <slot/>
</button>
<dialog class="border-0 rounded-lg p-2 w-md shadow-md self-center justify-self-center bg-gray-200 dark:bg-gray-800" id="createUser" closedby="any">
    <button id="closeButton" class="flex items-center float-right justify-center cursor-pointer h-6 w-6 rounded-full p-1 hover:bg-red-400 font-bold text-md text-stone-400 hover:text-stone-800" title="esc | Cerrar el Formulario">x</button>
    <h2 class="text-2xl border-b-2 font-bold text-black dark:text-white py-4 border-stone-200">Crear usuario</h2>
    <form id="createUserForm" class="mt-4 flex flex-col gap-4 p-4" method="post">
        <InputComponent inputType="text" name="name" text="Nombre" required />
        <InputComponent inputType="text" name="last_name" text="Apellido" required />
        <InputComponent inputType="email" name="email" text="Correo" required />
        <InputComponent inputType="phone" name="phone" text="Teléfono" />
        <InputComponent inputType="password" name="password" text="Contraseña" required/>
        <InputComponent inputType="password" name="confirmPassword" text="Confirmar contraseña" required />
        <button class="outline-none cursor-pointer py-2 px-4 bg-primary text-white font-bold rounded-lg hover:bg-primary/80 active:scale-95 transition-all">Guardar</button>
    </form>
</dialog>

<style>
    dialog::backdrop {background-color: rgba(0, 0, 0, 0.6);}
</style>

<script>
    import Swal from "sweetalert2"
    const dialog = document.getElementById("createUser") as HTMLDialogElement
    const openButton = document.getElementById('openButton')
    const closeButton = document.getElementById('closeButton')
    const form = document.getElementById("createUserForm")
    const nameInput = document.getElementById("name") as HTMLInputElement
    const last_nameInput = document.getElementById("last_name") as HTMLInputElement
    const emailInput = document.getElementById("email") as HTMLInputElement
    const phoneInput = document.getElementById("phone") as HTMLInputElement
    const passwordInput = document.getElementById("password") as HTMLInputElement
    const confirmPasswordInput = document.getElementById("confirmPassword") as HTMLInputElement

    openButton?.addEventListener('click', () => {
        dialog.showModal()
    })
    
    closeButton?.addEventListener('click', () => {
        dialog.close()
    })

    form?.addEventListener("submit", async (e) => {
        e.preventDefault()

        if (passwordInput.value !== confirmPasswordInput.value) {
            dialog.close()
            return Swal.fire({
                icon: 'error',
                title: 'Error...',
                text: "Las contraseñas no coinciden!",
                theme: 'auto'
            }).then(() => { dialog.showModal() })
        }

        const user = {
            name: nameInput.value,
            last_name: last_nameInput.value,
            email: emailInput.value,
            phone: phoneInput.value,
            password: passwordInput.value
        }

        try {
            const res = await fetch("/api/createUser", {
                method: "POST",
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(user)
            })
    
            if (!res.ok) {
                dialog.close()
                return Swal.fire({
                    icon: 'error',
                    title: 'Error...',
                    text:'Error al crear el usuario!',
                    theme: 'auto'
                }).then(() => { dialog.showModal() })
            }
    
            dialog.close()
            Swal.fire({
                icon: 'success',
                title: 'Correcto',
                text: 'Usuario creado correctamente',
                theme: 'auto'
            })
            window.location.href = '/panel/users'
        } catch (error) {
            console.error(error)
            dialog.close()
            return Swal.fire({
                icon: 'error',
                title: 'Error...',
                text: 'Error interno!',
                theme: 'auto'
            }).then(() => { dialog.showModal() })
        }

    })
</script>