<div id="container">
	<main class="h-dvh w-full bg-purple-200 grid place-items-center">
		<section>
			<h1 class="text-8xl mb-8">VoxPet - Admin Panel</h1>
			<p>Estas en la pagina principal!</p>
		</section>
	</main>
</div>