<aside class="p-6 flex flex-col justify-between min-w-3xs w-fit h-full gap-8 border-r border-stone-200 min-h-screen shadow-sm text-dark dark:text-light">
    <div class="flex flex-col gap-12">
        <figure class="flex justify-center items-center gap-4 justify-self-start">
            <img class="w-12 h-12 rounded-full bg-primary text-white" src="/public/favicon.svg" alt="VoxPet - logo">
            <h4 class="text-lg font-bold">Admin Panel</h4>
        </figure>
        <nav class="flex flex-col w-full gap-4">
            <a href="/home" class="rounded-lg hover:bg-primary/20 py-3 px-2 font-bold transition-all active:scale-95 disabled:opacity-50 disabled:cursor-not-allowed">Inicio</a>
            <a href="/panel/users" class="rounded-lg hover:bg-primary/20 py-3 px-2 font-bold transition-all active:scale-95 disabled:opacity-50 disabled:cursor-not-allowed">Usuarios</a>
        </nav>
    </div>
    <a href="" class="hover:bg-primary/20 w-fit py-2 px-3 rounded transition-all active:scale-95">Help</a>
</aside>